.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #424242;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.AdminChanel {
  background-color: #fce4ec;
  height: 548px;
  width: 400px;
  padding-top: 20px;
}

.AdminMsg {
  background-color: #e0e0e0;
  height: 548px;
  width: 1522px;
  margin-top: -568px;
  margin-left: 398px;
  padding-top: 20px;
}

.Title {
  font-size: 1.5em;
  font-family: arial;
  font-style: italic;
  padding-top: 10px;
  color: #212121;
  margin-top: -20px;
}

.TitleLoding {
  font-size: 1.5em;
  font-family: arial;
  font-style: italic;
  color: #212121;
  margin-top: 30px;
}

.User {
  height: 548px;
  width: 1522px;
  margin-left: 398px;
  background-color: #e0e0e0;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
